header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
  }
  
  header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  
  header nav ul li {
    margin-right: 15px;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  
  .active {
  color: #F01702;  }
  .inactive {
    color: black;
    text-decoration: none; 
  }
  
  header img {
    width: 11rem;
  }